<script lang="ts">
  import Field from './Field.svelte'
  import HitPointField from './HitPointField.svelte'
  import { expandCharacter } from '$lib/character'
  import type { Character } from '$lib/character'
  import * as store from '$lib/store'

  // export let data;
  let character: Character
  store.character.subscribe((value) => character = expandCharacter(value))
  
  function action(event: any) {
    console.log('event', event)
    store.apply(event.detail)
  }
</script>

<div class="grid">
  <div class="full">
    <Field label="Name">{ character.name }</Field>
  </div>
  <div>
    <Field label="Class">{ character.class }</Field>
  </div>
  <div>
    <Field label="Level">{ character.level }</Field>
  </div>
  <div>
    <Field label="Title"></Field>
  </div>
  <div>
    <Field label="AL">{ character.alignment }</Field>
  </div>
</div>

<div class="grid" style="grid-template-rows: 2fr repeat(6, 1fr); grid-auto-flow: column;">
  <div>
    <h1>Ability Scores</h1>
  </div>
  <div>
    <Field label="STR">{ character.abilityScores.strength }</Field>
  </div>
  <div>
    <Field label="INT">{ character.abilityScores.intelligence }</Field>
  </div>
  <div>
    <Field label="WIS">{ character.abilityScores.wisdom }</Field>
  </div>
  <div>
    <Field label="DEX">{ character.abilityScores.dexterity }</Field>
  </div>
  <div>
    <Field label="CON">{ character.abilityScores.constitution }</Field>
  </div>
  <div>
    <Field label="CHA">{ character.abilityScores.charisma }</Field>
  </div>
  <div>
    <h1>Saving Throws</h1>
  </div>
</div>

<div style="width: 50%" >
  <HitPointField bind:hitPoints={character.hitPoints} on:action={action}></HitPointField>
</div>

<h1>Inventory</h1>
<div style="border: 1px solid green;">
  <ul>
    {#each character.inventory as { item, quantity }}
      <li><span>({ quantity }) { item.name }</span></li>
    {/each}  
  </ul>   
</div>  

<pre>
  {JSON.stringify(character, null, 2)}
</pre>


<style lang="scss">
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1ex;
  column-gap: 2em;
  width: 66%;

  .full {
    grid-column: 1 / 3;
  }

  > div {
    min-height: 5ex;
  }
}
</style>
