<script lang="ts">
	import { createEventDispatcher } from 'svelte';
  import Field from './Field.svelte'
  import type { HitPoints } from '$lib/character'
  import GiBloodySword from 'svelte-icons/gi/GiBloodySword.svelte'
  import GiHealthNormal from 'svelte-icons/gi/GiHealthNormal.svelte'

  const dispatch = createEventDispatcher()
  export let hitPoints: HitPoints
  let val = 1
</script>

<Field label="HP">
  {hitPoints.current}
  (MAX {hitPoints.maximum})

  <div id="controls">
    <button id="damage" on:click={e => { dispatch('action', {type: 'damage', damage: Number(val)}) }}>
      <GiBloodySword />
    </button>
    <input pattern="[0-9]+" min=0 bind:value={val}>
    <button id="heal" on:click={e => { dispatch('action', {type: 'heal', healing: Number(val)}) }}>
      <GiHealthNormal />
    </button>
  </div>
</Field>

<style lang="scss">
  #controls {
    > * {
      height: 3em;
    }
  }
  button {
    border: 1px solid black;
    background: white;
    width: 3em;
    font-weight: 700;
    margin: 0.2em;
  }
</style>
