@font-face {
  font-family: "Futura";
  src: url("$lib/assets/fonts/futura medium bt.ttf");
  font-display: swap;
}

html, button, input {
  font-family: 'Futura', sans-serif;
}

html {
  color: #333;
}

input {
  font-size: 100%;
  border-radius: 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  outline: none;

  padding: 0.5em 1em;
  background: #eee;
  border: 1px solid #333;
}

button:active {
  background: #ccc;
}

input {
  padding: 0.5em;
  border: 1px solid #ccc;
}

input::placeholder {
  color: #ccc;
}

input:focus {
  outline: none;
}

.ability-score-name {
  font-variant: all-small-caps;
}
