<script lang="ts">
  import { onMount } from 'svelte'

	import { doAction, getCharacter } from '$lib/api'

  import AbilityScoreBox from './AbilityScoreBox.svelte'
  import ArmorClassBox from './ArmorClassBox.svelte'
  import CoinsBox from './CoinsBox.svelte'
  import EquippedBox from './EquippedBox.svelte'
  import HitPointBox from './HitPointBox.svelte'
  import InventoryBox from './InventoryBox.svelte'
  import MovementBox from './MovementBox.svelte'
	import SavingThrowBox from './SavingThrowBox.svelte'
  
  export let data
  $: character = data.character

  onMount(() => {
    // Start a background function that slow-polls for character updates.
    (async function() {
      while (true) {
        console.log('waiting for update:', data.version)
        let { version, character } = await getCharacter(fetch, data.name, data.version)
        console.log('got update:', version)
        if (data.version < version) {
          data.version = version
          data.character = character
        }
      }
    })()
  })

  async function action(event: CustomEvent<any>) {
    const { version, character } = await doAction(data.version, data.name, event.detail)
    data.version = version
    data.character = character
  }

</script>

<div class="content">
  <div class="header">
    <div class="text">
      <div class="name">{character.name}</div>
      <div class="details">
        { character.alignment } level { character.level } { character.class }
      </div>
    </div>
    {#if character.portrait}
      <img class="portrait" src={ character.portrait.url } alt={ 'portrait of ' + character.name }>
    {/if}
  </div>

  <div class="two-column">
    <EquippedBox bind:character on:action={action}></EquippedBox>
    <div class="stacked">
      <HitPointBox character={character} on:action={action}></HitPointBox>
      <ArmorClassBox character={character} on:action={action}></ArmorClassBox>
    </div>

    <InventoryBox character={character} on:action={action}></InventoryBox>
    <CoinsBox character={character} on:action={action}></CoinsBox>

    <div class="side-by-side">
      <div>
        <MovementBox character={character}></MovementBox>
      </div>
      <div>
        <SavingThrowBox character={character}></SavingThrowBox>
      </div>
    </div>
    <AbilityScoreBox abilityScores={character.abilityScores}></AbilityScoreBox>
  </div>
</div>

<style lang="scss">
  .content {
    max-width: 9in;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0em;
  }

  .header {
    display: flex;
    margin-bottom: 0.5em;
  }

  .two-column {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 1em;
    row-gap: 0.5em;
  }

  .stacked {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .side-by-side {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1em;
    > * {
      flex-grow: 1;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.75em;
    width: 100%;

    .name {
      font-size: 150%;
      font-weight: 700;
    }
  
    .details {
      font-style: italic;
    }
  }

  .portrait {
    object-fit: contain;
    max-height: 8em;
    justify-self: end;
  }
</style>
