<script lang="ts">
  import { type AbilityScores, ABILITY_SCORE_NAMES } from '$lib/game/ose/abilityScores'

  import FrameBox from './FrameBox.svelte'

  export let abilityScores: AbilityScores
</script>

<FrameBox title="Ability Scores">
  <div id="grid">
    {#each ABILITY_SCORE_NAMES as name}
      <div class="field">
        <div class="label ability-score-name">{ name.substring(0, 3) }</div>
        <div>{ abilityScores[name] }</div>
      </div>
    {/each}
  </div>
</FrameBox>

<style lang="scss">
  #grid {
    display: grid;
    row-gap: 0.5ex;
    column-gap: 2em;

    > div {
      line-height: 1.5;
      // min-height: 2ex;
    }
  }

  .field {
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;

    > div {
      flex-grow: 0;
    }
  }
</style>
