<script lang="ts">
  import type { Character } from '$lib/game/ose/character'
  import { getACDetails } from '$lib/game/ose/AC'
  import { adjustment } from '$lib/format'

  import FrameBox from './FrameBox.svelte'

  export let character: Character
  $: ac = getACDetails(character)
</script>

<FrameBox title="Armor Class">
  <div class="stack">
    <div class="main">
      <div class="ac">{ ac.value }</div>
      <div class="stats">
        <div class:inactive={!ac.shield}>{ac.shield?.name || 'no shield'}</div>
        <div>{adjustment(ac.shield?.shield.acMod || 0)}</div>
        <div class="ability-score-name">+DEX</div>
        <div>{adjustment(ac.abilityMod)}</div>
      </div>
    </div>
    <div class="armor">
    </div>
  </div>
</FrameBox>

<style lang="scss">
  .main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 1em;
  }

  .ac {
    width: 1em;
    font-size: 240%;
    letter-spacing: -0.1ex;
    text-align: right;
  }

  .stack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.25em;
  }

  .armor {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .stats {
    display: grid;
    justify-content: end;
    grid-template-columns: auto 1.5em;
    gap: 0.25em;
    justify-items: end;
  }

  .inactive {
    color: #aaa;
  }
</style>
