<script lang="ts">
  import type { Character } from '$lib/game/ose/character'
  import { COIN_TYPES, getCoinAbbreviation } from '$lib/game/ose/coins'
  
	import CoinsPopup from './CoinsPopup.svelte'
  import FrameBox from './FrameBox.svelte'

  export let character: Character
  $: coins = character.coins
  let show = false
</script>

<CoinsPopup bind:show character={character} on:action></CoinsPopup>

<FrameBox title="Coins">
  <div id="grid" on:click={() => show = true}>
    {#each COIN_TYPES as type}
      <div class="field">
        <div class="label">{getCoinAbbreviation(type)}</div>
        <div>{ coins[type] || '–' }</div>
      </div>
    {/each}
  </div>
</FrameBox>

<style lang="scss">
  #grid {
    display: grid;
    row-gap: 0.5ex;
    column-gap: 2em;

    > div {
      line-height: 1.5;
    }
  }

  .field {
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;

    > div {
      flex-grow: 0;
    }
  }
</style>
