<script lang="ts">
	import { createEventDispatcher } from "svelte"

  import type { Character } from "$lib/game/ose/character"
  import { type CoinType, COIN_TYPES, getCoinAbbreviation } from "$lib/game/ose/coins"

  import ModalPopup from "./ModalPopup.svelte"

  import IncomeIcon from '$lib/assets/game-icons/lorc/profit.svg'
  import ExpenseIcon from '$lib/assets/game-icons/delapouite/expense.svg'
	import QuantityInput from "./QuantityInput.svelte"

  const dispatch = createEventDispatcher()

  export let character: Character
  export let show = false
  let coinType: CoinType = 'gold'
  let value = 0

  $: coins = character.coins

  function income() {
    dispatch('action', {type: 'addCoins', coinType, value})
    show = false
  }

  function expense() {
    if (value <= coins[coinType]) {
      dispatch('action', {type: 'addCoins', coinType, value: -value})
      show = false
    }
  }
</script>

<ModalPopup title="Coins" bind:show>
  <div class="content">
    <div class="type">
      {#each COIN_TYPES as t}
        <div class="button" role="button" class:select={coinType === t} on:click={() => coinType = t}>{getCoinAbbreviation(t)}</div>
        <div class="value">{coins[t]}</div>
      {/each}
    </div>

    <div class="top">
      <QuantityInput bind:value min={0} max={1000}></QuantityInput>
      <div class="right">
        <img src={IncomeIcon} alt="income" on:click={income}>
        <img src={ExpenseIcon} style:filter={value <= coins[coinType] ? '' : 'invert(70%)'} alt="expense" on:click={expense}>
      </div>
    </div>
    <div>
      <input type="range" min=0 max=1000 bind:value/>
    </div>
  </div>
</ModalPopup>

<style lang="scss">
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .type {
    display: grid;
    grid-template-columns: 5em 4em;
    grid-auto-flow: row;
    gap: 0.1em;

    > * {
      box-sizing: border-box;
      width: 100%;
      padding: 0.25em 0.25em;
    }

    .button {
      border: 2px solid #ccc;
      text-align: center;
      cursor: default;

      &.select {
        background: #eee;
      }
    }

    .value {
      text-align: right;
    }
  }

  .top {
    display: grid;
    grid-template-columns: 4em 4em;
    justify-items: center;
    gap: 1em;
  }

  .right {
    display: grid;
    width: 4em;
    grid-template-rows: 4em 4em;
    gap: 1em;
  
    input[type=range] {
      grid-column-end: span 2;
      width: 100%;
    }
  }
</style>
