<script lang="ts">
	import { createEventDispatcher } from 'svelte'
  import DownTriangle from './DownTriangle.svg'

  export let value: string
  export let values: string[]
  export let open = false
  const dispatch = createEventDispatcher()

  function click(clickValue: string) {
    value = clickValue
    open = false
    console.log('dispatch change')
    dispatch('change', clickValue)
  }
</script>

<div>
  <div class="box" on:click={() => open = !open }>
    <div class="selection">{ value }</div>
    <img class="triangle" src={DownTriangle} alt="expand">
  </div>
  <div class="drop" class:open={open}>
    {#each values as v}
      <div on:click={() => click(v)}>{v}</div>
    {/each}
  </div>
</div>

<style lang="scss">
  .box {
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-right: 0.5em;
    cursor: default;

    display: flex;
    align-items: center;
    gap: 0.5em;

    .selection {
      border: none;
      padding: 0.5em;
      min-height: calc(1em + 3px);
      flex-grow: 1;
      width: calc(100% - 1em);
    }

    .triangle {
      height: 1em;
      box-sizing: border-box;
      flex-grow: 0;
    }
  }

  .drop {
    z-index: 110;
    position: absolute;
    margin-top: 0.25em;
    background: white;

    max-height: 20em;

    padding: 0.5em 0;
    border: 1px solid #ccc;
    overflow-y: scroll;

    &:not(.open) {
      display: none;
    }

    > div {
      padding: 0.25em 0.75em;
      &:hover {
        background: #f0f0f0;
      }
    }
  }
</style>
