<script lang="ts">
  import type { Character } from '$lib/game/ose/character'
  import { getEquippedDetails, type EquippedDetails } from '$lib/game/ose/inventory'
	import { getACDetails } from '$lib/game/ose/AC'

  import FrameBox from './FrameBox.svelte'
  import EquippedItemDetails from './EquippedItemDetails.svelte'
  
  import armorIcon from '$lib/assets/game-icons/lorc/mail-shirt.svg'
  import handIcon from '$lib/assets/game-icons/lorc/hand.svg'
  import weaponIcon from '$lib/assets/game-icons/delapouite/sword-brandish.svg'
  import shieldIcon from '$lib/assets/game-icons/delapouite/attached-shield.svg'
  import itemIcon from '$lib/assets/game-icons/darkzaitzev/catch.svg'
	import EquipPopup from './EquipPopup.svelte';
  
  export let character: Character
  $: mh = getEquippedDetails(character, 'mainHand')
  $: oh = getEquippedDetails(character, 'offHand')
  $: ac = getACDetails(character)

  let showEquipMainHand = false
  let showEquipOffHand = false
  let showEquipBody = false

  function getIcon(details: EquippedDetails | undefined) {
    if (details === undefined)
      return handIcon
    else if (details.melee || details.missile)
      return weaponIcon
    else if (details.item.shield)
      return shieldIcon
    else
      return itemIcon
  }
</script>

<EquipPopup bind:show={showEquipMainHand} character={character} location="mainHand" on:action></EquipPopup>
<EquipPopup bind:show={showEquipOffHand} character={character} location="offHand" on:action></EquipPopup>
<EquipPopup bind:show={showEquipBody} character={character} location="body" on:action></EquipPopup>

<FrameBox title="Equipped">
  <div class="grid">
    <img src={getIcon(mh)} alt="main hand" on:click={e => showEquipMainHand = true}>
    {#if mh}
      <div class="description" class:two-hand={mh.twoHand}>
        <div>{mh.item.name}</div>
        <EquippedItemDetails details={mh}></EquippedItemDetails>
      </div>
    {:else}
      <div class="inactive">no item</div>
    {/if}

    <img src={getIcon(mh?.twoHand ? mh : oh)} alt="off hand" class="flip" on:click={e => showEquipOffHand = true}>
    {#if !mh?.twoHand}
      {#if oh}
        <div class="description">
          <div>{oh.item.name}</div>
          <EquippedItemDetails details={oh}></EquippedItemDetails>
        </div>
      {:else}
        <div class="inactive">no item</div>
      {/if}
    {/if}

    <img src={armorIcon} alt="armor" on:click={e => showEquipBody = true} style="grid-area: 3 / 1;">
    <div class="description" class:inactive={!ac.armor}>{ac.armor?.name || 'no armor'}</div>
  </div>

</FrameBox>

<style lang="scss">
  img {
    width: 100%;
    height: 100%;
  }

  .flip {
    transform: scaleX(-1);
  }

  .grid {
    display: grid;
    grid-template-columns: 3em 1fr;
    column-gap: 0.5em;
    row-gap: 1em;

    align-items: center;
  }

  .two-hand {
    height: 90%;
    border-left: 3px solid #ccc;
    padding-left: 0.5em;
    grid-row-end: span 2;
  }

  .description {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 0.25em;
  }

  .inactive {
    color: #aaa;
  }
</style>
