<script lang="ts">
  import type { EquippedDetails } from '$lib/game/ose/inventory'
	import type { MissileRange } from '$lib/game/ose/items';

  import missileIcon from '$lib/assets/game-icons/skoll/bullseye.svg'
  import meleeIcon from '$lib/assets/game-icons/lorc/crossed-swords.svg'
  import lightIcon from '$lib/assets/game-icons/delapouite/torch.svg'
  
  import { adjustment } from '$lib/format'

  export let details: EquippedDetails

  function formatRange(range: MissileRange): string {
    return `${range.short}'/${range.medium}'/${range.long}'`
  }
</script>

<div class="details">
  {#if details.melee}
    <img style="width: 1em;" src={meleeIcon} alt='melee'>
    <div>{adjustment(details.melee.attackMod)} {details.melee.damage}</div>
  {/if}
  {#if details.missile}
    <img style="width: 1em" src={missileIcon} alt='missile'>
    <div>{adjustment(details.missile.attackMod)} {details.missile.damage} {formatRange(details.missile.range)}</div>
  {/if}
  {#if details.item.light}
    <img style="width: 1em" src={lightIcon} alt='light'>
    <div>{details.item.light.range}'</div>
  {/if}
</div>

<style lang="scss">
  .details {
    display: grid;
    grid-template-columns: 1em 1fr;
    gap: 0.25em;
  }
</style>
