<script lang="ts">
	import { createEventDispatcher } from 'svelte';

  import type { Character } from '$lib/game/ose/character'
  import type { Item } from '$lib/game/ose/items'
  import { getEquippable, type EquipLocation } from '$lib/game/ose/inventory'

  import ModalPopup from "./ModalPopup.svelte"

  export let show: boolean = false
  export let character: Character
  export let location: EquipLocation

  $: title = {
    'mainHand': 'wield in main hand',
    'offHand': 'wield in off hand',
    'body': 'wear',
  }[location]

  const dispatch = createEventDispatcher()

  // FIXME: Elsewhere.
  function unique<T>(...arrs: T[][]): T[] {
    let result: T[] = []
    let set = new Set<T>()
    for (let arr of arrs)
      for (let item of arr)
        if (!set.has(item)) {
          set.add(item)
          result.push(item)
        }
    return result
  }

  let items = getEquippable(character, location)

  function equip(item: Item) {
    dispatch('action', {type: 'equip', location: location, itemName: item.name})
    show = false
  }

  function unequip() {
    dispatch('action', {type: 'unequip', location})
    show = false
  }

</script>

<ModalPopup title={title} bind:show>
  <div class="content">
    <div class="items">
      <div class="scroll">
        <div on:click={e => unequip()}>none</div>
        {#each items as item}
          <div on:click={e => equip(item)}>{item.name}</div>
        {/each}
      </div>
    </div>
  </div>
</ModalPopup>

<style lang="scss">
  .content {
    display: flex;
    flex-direction: column;
  }

  .items {
    overflow-y: scroll;
    box-sizing: border-box;

    .scroll {
      display: flex;
      flex-direction: column;
      row-gap: 0.5em;
      overflow-y: scroll;

      > div {
        cursor: default;
        border: 1px solid #ccc;
        padding: 1em 1em;
        text-align: center;
        font-size: 150%;

        &:hover {
          background: #eee;
        }
      }
    }
  }
</style>
