<script lang="ts">
  export let columns: number = 1

  console.log('columns', columns)
</script>

<div id="grid" style="grid-template-columns: repeat({ columns }, 1fr);">
  <slot></slot>
</div>

<style lang="scss">
  #grid {
    display: grid;
    row-gap: 0.5ex;
    column-gap: 1em;

    > :global(div) {
      min-height: 5ex;
    }
  }
</style>
