<script lang="ts">
  export let label: string;
</script>

<div id="box">
  <div id="label">
    <div>{ label }</div>
  </div>
  <div id="content">
    <slot />
  </div>
</div>

<style lang="scss">
  #box {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 0.2em solid black;
    display: grid;
    grid-template-columns: 4em 1fr;

    #label, #content {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #label {
      border-right: 0.2em solid black;
      background: black;
      color: white;
      font-weight: 700;
      padding: 0 0.5em;
      div {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
</style>
