<script lang="ts">
  export let title: string
</script>

<div class="top">
  <div class="title">
    <div class="text">{ title.toUpperCase() }</div>
  </div>
  <div class="frame">
    <slot />
  </div>
</div>

<style lang="scss">
  .top {
    height: 100%;
  }

  .frame {
    margin-top: 0.45em;
    height: calc(100% - 0.45em);
    box-sizing: border-box;
    border: 2px solid #888;
    padding: 2ex max(1vw, 1ex) 2ex max(1vw, 1.5ex);
    overflow-y: hidden;
  }

  .title {
    position: relative;
    left: 2ex;
    width: fit-content;
    height: 0;

    .text {
      padding: 0 0.7ex;
      background: white;
      font-size: 80%;
      font-weight: 700;
      letter-spacing: 0.05ex;
    }
  }
</style>
