<script lang="ts">
	import { createEventDispatcher } from 'svelte'

  import { adjustment } from '$lib/format'
  import type { Character } from '$lib/game/ose/character'

  import damageIcon from '$lib/assets/game-icons/lorc/skull-crossed-bones.svg'

  import FrameBox from './FrameBox.svelte'
  import HitPointPopup from './HitPointPopup.svelte'
  import { getAbilityScoreDetails } from '$lib/game/ose/abilityScores';

  export let character: Character
  $: abilityScoreDetails = getAbilityScoreDetails(character.abilityScores)
  $: hitPoints = character.hitPoints

  let show = false
</script>

<HitPointPopup bind:show character={character} on:action></HitPointPopup>

<FrameBox title="Hit Points">
  <div class="content" on:click={e => show = true}>
    <div class="top">
      <div class="left">
        {#if hitPoints.current > 0}
          {hitPoints.current}
        {:else}
          <img src={damageIcon} style="width: 100%; height: 100%;" alt="dead">
        {/if}
      </div>
      <div class="right">
        <div>Max</div>
        <div>{hitPoints.maximum}</div>
        <div class="ability-score-name">+CON</div>
        <div>{adjustment(abilityScoreDetails.hitPointMod)}</div>
      </div>
    </div>
  </div>
</FrameBox>

<style lang="scss">
  .content {
    display: flex;
    flex-direction: column;
    row-gap: 1em;

    .top {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      column-gap: 1em;

      .left {
        width: 1em;
        font-size: 240%;
        text-align: right;
        letter-spacing: -0.1ex;
      }

      .right {
        display: grid;
        justify-content: end;
        grid-template-columns: auto 1.5em;
        gap: 0.25em;
        justify-items: end;
      }
    }
  }
</style>
