<script lang="ts">
	import { createEventDispatcher } from 'svelte'

  import type { Character } from '$lib/game/ose/character'

  import healingIcon from '$lib/assets/game-icons/delapouite/healing-shield.svg'
  import damageIcon from '$lib/assets/game-icons/lorc/pointy-sword.svg'

  import ModalPopup from './ModalPopup.svelte'
	import QuantityInput from './QuantityInput.svelte'

  const dispatch = createEventDispatcher()

  export let show: boolean
  export let character: Character
  $: hp = character.hitPoints
  $: maxHeal = hp.maximum - hp.current
  $: maxValue = Math.max(hp.current, maxHeal)

  let value = 1

  function heal() {
    if (value <= maxHeal) {
      dispatch('action', {type: 'heal', healing: value})
      show = false
    }
  }

  function damage() {
    if (value <= hp.current) {
      dispatch('action', {type: 'damage', damage: value})
      show = false
    }
  }
</script>

<ModalPopup title="Healing & Damage" bind:show>
  <div class="content">
    <div class="top">
      <div class="quantity">
        <QuantityInput bind:value min={1} max={maxValue}></QuantityInput>
      </div>
      <div class="type">
        <img src={healingIcon} style="width: 100%; height: 100%;" style:filter={value <= maxHeal ? '' : 'invert(70%)'} alt="heal" on:click={heal}>
        <img src={damageIcon} style="width: 100%; height: 100%;" style:filter={value <= hp.current ? '' : 'invert(70%)'} alt="damage" on:click={damage}>
      </div>
    </div>
    <input type="range" min=1 max={maxValue} bind:value/>
  </div>
</ModalPopup>

<style lang="scss">
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .top {
    display: flex;
    gap: 1em;

    .quantity {
      width: 4em;
      height: 100%;
    }

    .type {
      display: grid;
      width: 4em;
      grid-template-rows: 4em 4em;
      gap: 1em;
    }
  }
</style>
