<script lang="ts">
  import { createEventDispatcher } from 'svelte'

  import type { Character } from '$lib/game/ose/character'
  import { getInventoryDetails, type InventoryItem } from '$lib/game/ose/inventory'
  import type { Item } from '$lib/game/ose/items'

  import AddIcon from './AddIcon.svg'
  import ItemSelect from './ItemSelect.svelte';
  import DepleteIcon from './DepleteIcon.svg'
  import ItemDetail from './ItemDetail.svelte'
  import LootIcon from '$lib/assets/game-icons/skoll/open-treasure-chest.svg'
  import ModalPopup from './ModalPopup.svelte'
  import RemoveIcon from './RemoveIcon.svg'

  const dispatch = createEventDispatcher()

  export let show = false
  export let character: Character
  let addItem: InventoryItem = {item: 'oil, flask'}
  let open: {[itemName: string]: boolean} = {}

  $: inventory = getInventoryDetails(character.inventory)

  function deplete(item: Item) {
    dispatch('action', {type: 'inventoryIncrease', itemName: item.name, quantity: -1})
  }

  function add() {
    dispatch('action', {type: 'inventoryAdd', item: addItem})
  }

  function setLoot(index: number, loot: boolean) {
    dispatch('action', {type: 'setLoot', index, loot})
  }
</script>

<ModalPopup title="Inventory" bind:show>
  <div class="content">
    <div class="add">
      <img src={AddIcon} alt="add" on:click={add}>
      <ItemSelect bind:item={addItem}></ItemSelect>
    </div>

    <div class="scroll">
      <div class="items">
        {#each inventory as {item, quantity, loot}, index}
          <div class="item frame" on:click={() => open[item.name] = !open[item.name]}>
            <div class="button" on:click|stopPropagation={() => deplete(item)}>
              <img src={quantity > 1 ? DepleteIcon : RemoveIcon} alt="remove">
            </div>
            <div style="justify-self: right;">{quantity}</div>
            <div>{item.name}</div>
            <img src={LootIcon} class:disabled={!loot} alt="loot" on:click|stopPropagation={() => setLoot(index, !loot)}>

            {#if open[item.name]}
              <div class="detail">
                <ItemDetail item={item}></ItemDetail>
              </div>
            {/if}
          </div>
        {/each}
      </div>
    </div>
  </div>
</ModalPopup>

<style lang="scss">
  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .add {
    grid-column-end: span 3;
    padding: 0 1em;

    display: flex;
    gap: 0.5em;
    align-items: center;

    img {
      width: 2em;
    }
  }

  .scroll {
    min-height: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }

  .item {
    padding: 1em 1em;

    display: grid;
    grid-template-columns: 2em 1em 1fr 1.5em;
    column-gap: 0.5em;
    row-gap: 0.5em;
    align-items: center;
  }

  .items {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;

    .frame {
      border: 1px solid #ccc;
    }

    .detail {
      grid-column-end: span 3;
      font-size: 85%;
    }
  }

  .button {
    text-align: center;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .disabled {
    filter: invert(75%);
  }
</style>
