<script lang="ts">
  import type { Character,  } from '$lib/game/ose/character'
  import { getInventoryDetails } from '$lib/game/ose/inventory'

  import FrameBox from './FrameBox.svelte'
	import InventoryPopup from './InventoryPopup.svelte'

  export let character: Character
  $: inventory = getInventoryDetails(character.inventory)
  let show: boolean = false
</script>

<InventoryPopup character={character} bind:show on:action></InventoryPopup>

<FrameBox title="Inventory">
  <div class="grid" on:click={() => show = true}>
    {#each inventory as { item, quantity }}
      <div class="quantity">{ quantity }</div>
      <div class="name">{ item.name }</div>
    {/each}  
  </div>
</FrameBox>

<style lang="scss">
  .grid {
    display: grid;
    grid-template-columns: 1.5em 1fr;
    row-gap: 0.25em;
  }
</style>
