<script lang="ts">
	import { adjustment } from '$lib/format'
	import { formatCost } from '$lib/game/ose/coins'
	import type { Item } from '$lib/game/ose/items'

  export let item: Item
</script>

<div class="content">
  <div class="row">
    {#if item.cost !== undefined}
      <div>cost: {formatCost(item.cost)}</div>
    {/if}
    {#if item.weight !== undefined}
      <div>wieght: {item.weight}</div>
    {/if}
  </div>
  {#if item.weapon}
    <div>
      weapon: {item.weapon.damage} damage (
        <span class="qualities">{item.weapon.qualities.join(' ')}</span>
      )
    </div>
  {/if}
  {#if item.armor}
    <div>armor: AC {10 + item.armor.acMod}</div>
  {/if}
  {#if item.shield}
    <div>shield: AC{adjustment(item.shield.acMod)}</div>
  {/if}
  {#if item.light}
    <div>
      light: {item.light.range}' for {item.light.duration} turns
    </div>
  {/if}
</div>

<style lang="scss">
  .content {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;

    .row {
      display: flex;
      flex-direction: row;
      column-gap: 0.5em;
    }
  }

  .qualities {
    font-variant: all-small-caps;
  }
</style>
