<script lang="ts">
	import type { InventoryItem } from '$lib/game/ose/inventory'
	import type { Item } from '$lib/game/ose/items'

  import LootIcon from '$lib/assets/game-icons/skoll/open-treasure-chest.svg'
  import QuantityInput from './QuantityInput.svelte'
	import StandardItemDropList from './StandardItemDropList.svelte'

  export let item: InventoryItem = {item: 'torch'}
  let quantity = item.quantity || 1
  let standardItem = typeof(item.item) === 'string'
  let standardItemName = typeof(item.item) === 'string' ? item.item : ''
  let otherItemName = typeof(item.item) === 'string' ? '' : item.item.name
  let cost = ''
  let weight = ''
  let loot = false

  function makeItem(name: string, cost: string, weight: string): Item {
    const item: Item = {name}
    if (cost && Number(cost) > 0)
      item.cost = Number(cost)
    if (weight && Number(weight) > 0)
      item.weight = Number(weight)
    return item
  }

  $: standardItem || (() => {standardItemName = ''})()
  $: item = {
    item: standardItem ? standardItemName : makeItem(otherItemName, cost, weight),
    quantity: Number(quantity),
    loot,
  }
</script>

<div class="content">
  <div class="quantity">
    <QuantityInput bind:value={quantity} max={100}></QuantityInput>
  </div>
  <div class="controls">
    <div class="row">
      <div class="left">
        <input type="radio" name="standard" bind:group={standardItem} value={true}>
        <label class="item-label" for="standard">Standard Item:</label>
        <StandardItemDropList bind:value={standardItemName} on:change={() => {standardItem = true}}/>
      </div>
    </div>
    <div class="row">
      <div class="left">
        <input type="radio" name="standard" bind:group={standardItem} value={false}>
        <label class="item-label" for="standard">Other Item:</label>
        <input type="text" placeholder="name" bind:value={otherItemName} on:focus={() => standardItem = false}>
      </div>
      <label for="cost">Cost:</label>
      <input type="text" name="cost" pattern="[0-9]*" maxlength=5 bind:value={cost}>
      <label for="weight">Weight:</label>
      <input type="text" name="weight" pattern="[0-9]*" maxlength=5 bind:value={weight}>
    </div>
  </div>
  <img src={LootIcon} class:disabled={!loot} alt="loot" on:click|stopPropagation={() => {loot = !loot}}>
</div>

<style lang="scss">
  .content {
    width: 100%;
    display: flex;
    gap: 1em;
    align-items: center;
  }

  .controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .quantity {
    padding-right: 0.5em;
    height: 90%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: center;

    .left {
      display: grid;
      grid-template-columns: 0fr 7em 12em;
      gap: 0.5em;
      align-items: center;
    }

    > input {
      width: 4em;
    }
  }

  label {
    white-space: nowrap;
  }

  .disabled {
    filter: invert(75%);
  }

  img {
    width: 2em;
  }
</style>
