<script lang="ts">
  export let show: boolean = false
  export let title: string
</script>

<div class="modal" style:display={show ? 'flex' : 'none'}>
  <h1>{title}</h1>
  <div class="content">
    <slot></slot>
  </div>
</div>
<div class="obscure" style:display={show ? 'block' : 'none'} on:click={e => {show = false}}></div>

<style lang="scss">
  .modal {
    position: absolute;
    z-index: 100;
    width: 70vw;
    height: 80vh;
    left: 15vw;
    top: 10vh;
    background: white;
    box-sizing: border-box;
    border: 3px solid #333;
    padding: 0.5em 1em 0 1em;

    display: flex;
    flex-direction: column;
  }

  h1 {
    margin: 0;
    margin-bottom: 1em;
    font-size: 150%;
    font-weight: 700;
    font-variant: all-small-caps;
    width: 100%;
    text-align: center;
  }

  .content {
    min-height: 0;
  }

  .obscure {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    backdrop-filter: brightness(80%) blur(2px);
    -webkit-backdrop-filter: brightness(80%) blur(2px);
  }
</style>
