<script lang="ts">
  import type { Character } from "$lib/game/ose/character"
	import { getDetailedEncumbrance, getMovement } from "$lib/game/ose/movement"

  import FrameBox from "./FrameBox.svelte"

  export let character: Character
  $: encumbrance = getDetailedEncumbrance(character)
  $: movement = getMovement(encumbrance)

  $: rows = [
    ['Encumbrance', encumbrance, '\u202fcoins'],
    ['Exploration', movement.exploration, '\'/turn'],
    ['Encounter', movement.encounter, '\'/round'],
    ['Overland', movement.overland, '\u202fmi/day'],
  ]
</script>

<FrameBox title="Movement">
  <div class="content">
    {#each rows as [label, value, units]}
      <div>{label}</div>
      <div class="value" style="justify-self: right;">{value}{units}</div>
    {/each}
  </div>
</FrameBox>

<style lang="scss">
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 0.5em;
  }
</style>
