<script lang="ts">
  import DownTriangle from './DownTriangle.svg'

  export let value: number
  export let min = 1
  export let max = 10000
</script>

<div class="content">
  <img class="arrow up" alt="increase" on:click={() => {if (value < max) value += 1}} src={DownTriangle}>
  <div class="value">{value}</div>
  <img class="arrow" alt="decrease" on:click={() => {if (value > min) value -= 1}} src={DownTriangle}>
</div>

<style lang="scss">
  .content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 25% 50% 25%;
    align-items: center;
    justify-items: center;

    .value {
      font-size: 200%;
      font-weight: 700;
    }

    .arrow {
      user-select: none;
      &.up {
        transform: scaleY(-1);
      }
    }
  }
</style>
