<script lang="ts">
	import { adjustment } from '$lib/format'
	import type { Character } from '$lib/game/ose/character'
  import { getAbilityScoreDetails } from '$lib/game/ose/abilityScores'
  import { SAVING_THROW_KINDS, getSavingThrows } from '$lib/game/ose/savingThrows'

  import FrameBox from './FrameBox.svelte'

  export let character: Character
  $: savingThrows = getSavingThrows(character)
  $: abilityScoreDetails = getAbilityScoreDetails(character.abilityScores)
</script>

<FrameBox title="Saving Throws">
  <div id="grid">
    {#each SAVING_THROW_KINDS as kind}
      <div class="field">
        <div class="label">{kind.slice(0, 1).toUpperCase()}</div>
        <div>{savingThrows[kind]}</div>
      </div>
    {/each}
    <div class="field">
      <div class="label">vs. magic</div>
      <div>{adjustment(abilityScoreDetails.magicSaveMod)}</div>
    </div>
  </div>
</FrameBox>

<style lang="scss">
  #grid {
    display: grid;
    row-gap: 0.5ex;
    column-gap: 2em;

    > div {
      line-height: 1.5;
    }
  }

  .field {
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;

    > div {
      flex-grow: 0;
    }
  }
</style>
