<script lang="ts">
	import { STANDARD_ITEMS } from '$lib/game/ose/items'

  import DropList from './DropList.svelte'

  export let value: string
  let open = false

  const ITEM_NAMES = Object.values(STANDARD_ITEMS).map(i => i.name)
  ITEM_NAMES.sort()
</script>

<DropList bind:value bind:open values={ITEM_NAMES} on:change></DropList>

